layout:
    home: "domov"
    settings: "nastavenia"
    login: "prihlásenie"
    logout: "odhlásenie"
    english: "anglicky"
    slovak: "slovensky"
    czech: "česky"
    lang: "jazyky"
    informations: "informácie"
    registration: "registrácia"
    wishlist: "wishlist"

profile:
    profile: "profil"
    friends: "priatelia"
    findfriends: "hľadať priateľov"
    edit: "editovať"
    wishlist: "zoznam prianí"
    name: "názov*"
    link: "url adresa*"
    promptname: "zadaj názov želania"
    image: "obrázok"
    save: "uložiť"
    promptlink: "vlož link"

sign:
    signin: "prihlás sa"
    signup: "Registrovať"
    email: "email"
    pass: "heslo"
    agreewith: "súhlasím s"
    conditions: "podmienkami"
    registration: "Registrácia"
    forgotpass: "Zabudli ste heslo?"
    agreewitherror: "Je treba súhlasiť z podmienkami"

settings:
    name: "meno*"
    surname: "priezvisko*"
    state: "štát"
    birthdate: "dátum narodenia"
    sex: "pohlavie"
    save: "Uložiť"
    year: "rok"
    month: "mesiac"
    day: "deň"
    promptsurname: "Zadajte priezvisko"
    promptstate: "Zadajte štát"
    promptsex: "Vyber pohlavie"
    promptname: "Zadajte meno"
    profileimage: "Profilová fotka"
    
months:
    jan: "január"
    feb: "február"
    mar: "marec"
    apr: "apríl"
    maj: "máj"
    jun: "jún"
    jul: "júl"
    aug: "august"
    sep: "september"
    okt: "október"
    nov: "november"
    dec: "december"

flashes:
    firstsettings: "Najprv vyplň informácie"
    incorectpass: "Nesprávne heslo"
    incorectname: "Nesprávne meno"
    emailexist: "Email uz existuje"
